*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --35px: 2.3333rem;
  --25px: 1.5625rem;
  --16px: 1rem;
  --14px: 0.875rem;
  --13px: 0.8125rem;

  --regular: 400;
  --semibold: 600;
  --bold: 700;

  --title-font-size: var(--16px);
  --text-color-1: #242A3B;
  --text-color-2: #999999;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

.page {
  display: grid;
  grid-template-rows: 90px auto 80px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  height: 100vh;
}

header {
  grid-area: header;
  position: relative;
  display: flex;
  align-items: center;
  height: 95px;
  color: white;
  box-shadow: 0px 4px 10px rgba(176, 192, 211, 0.2);
}

header .header-left {
  background: linear-gradient(91.31deg, #242A3B 0%, #2B3144 125.98%);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  /*
  clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
  */
}

header svg {
  color: white;
}

header .bike {
  position: absolute;
  display: none;
  top: 0;
  left: 60%;
  z-index: 2;
  width: 303px;
  height: 189px;
  background: url('./bike.png') no-repeat;
  background-size: contain;

}

header .header-left nav {
  display: flex;
  align-items: center;
  margin: 18px 0 0 30px;
}

.header-left nav .logo {
  width: 71px;
  height: 50px;
  background-image: url('./tb_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.header-left nav ul {
  display: none;
}

.header-left nav ul li {
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: var(--regular);
  font-size: var(--14px);
}

header .header-right {
  background: linear-gradient(262.72deg, #CDC743 -3.17%, #FDFA53 71.03%);
  width: 40%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: none;
}


header .user {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;;
  z-index: 2;
}

header .user .avatar {
  width: 35px;
  height: 35px;
  background-image: url('./woman.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px black;
}

header .user svg {
  margin-left: 15px;
}

header .user span {
  text-transform: uppercase;
  margin-left: 15px;
}

footer {
  background-color: #2d2d2d;
  color: white;
  grid-area: footer;
  display: flex;
  align-items: center;
}

.page-content nav,
.page-content main,
footer {
  padding: 15px;
}

.page-content {
  display: grid;
  grid-area: main;
  justify-self: center;
  margin-top: 50px;
}

.page-content nav {
  display: none;
  font-family: "Poppins", sans-serif;
}

.page-content main {
  flex: 1;
}

.page-content nav ul {
  margin-top: 15px;
}

.page-content ul li {
  padding: 10px 8px 10px 0px;
  height: 52px;
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.page-content ul li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.page-content ul li:not(.selected) {
  margin-left: 20px;
}

.page-content ul li:hover::before,
.page-content ul li.selected::before {
  content: '';
  position: absolute;
  width: 4px;
  left: 0;
  height: 100%;
  background-color: #FDF83D;
}

.page-content ul li:hover,
.page-content ul li.selected {
  background: linear-gradient(88.28deg, #242A3B 0%, rgba(36, 42, 59, 0.89) 103.15%);
  margin-left: 0px;
  padding-left: 20px;
}

.page-content ul li:hover a,
.page-content ul li.selected a {
  color: #FDF83D;
  font-weight: var(--bold);
}

.page-content ul li a {
  display: block;
  color: var(--text-color-1);
  font-weight: var(--semibold);
}

.brand {
  margin-left: 20px;
  font-size: var(--35px);
  font-weight: var(--regular);
  line-height: 42px;
}

main h3 {
  font-size: var(--25px);
  font-weight: var(--regular);
  color: var(--text-color-1);
  margin-bottom: 25px;   
}

@media(min-width: 768px) {
  header {
    color: #212121;
  }

  header svg {
    color: #212121;
  }

  header .header-right {
    display: block;
  }


  header .header-left {
    width: 70%;
    clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
  }
}

@media(min-width: 1280px) {
  .page {
    display: grid;
    grid-template-rows: 189px auto 80px;
    grid-template-columns: 50px auto 50px;
    grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer";
  }

  .page-content {
    grid-template-columns: 35% auto;
    column-gap: 60px;
  }

  .header-left nav ul {
    display: flex;
  }

  header .bike {
    display: block;
  }

  .page-content nav {
    display: initial;
  }

  header .user {
    top: 25px;
  }

  header {
    color: #212121;
    height: 189px;
    align-items: flex-start;
  }
}

/* UC FORM */
td-uc-form label {
  font-size: var(--14px);
}

td-uc-form .td-layout-header-desc {
  margin-bottom: 16px;
}

td-uc-form .td-form-group .td-control-desc {
  font-size: var(--13px);
  color: var(--text-color-2);
  margin-top: 12px;
}

td-uc-form .td-form-actions {
  margin-top: 20px;
}

td-uc-form td-group-layout {
  margin-top: 15px;
}

/* SETUP PAGE */
.setup-page {
  width: 500px;
  margin: 0 auto;
  padding: 30px 15px;
}
.setup-page h1 {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.setup-page .form-field {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.setup-page label {
  display: inline-block;
  width: 150px;
}
.setup-page input[type=text] {
  padding: 8px 5px;
  border-radius: 3px;
  flex: 1;
}

.setup-page .with-hint {
  flex: 1;
}

.setup-page .with-hint span {
  font-size: small;
  font-style: italic;
  color: gray;
}

.setup-page .with-hint input[type=text] {
  width: 100%;
}

.setup-page input[type=submit] {
  margin-left: 150px;
  padding: 8px 5px;
}
